@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --gradient: linear-gradient(
        45deg,
        #ff5c26,
        #ee7155 ,
        #ce6658 , 
        #b97465 ,
        #9c7067 ,
        #6d5752 ,
        #634F4B ,
        #393433 ,
        #181717 ,
        #070707 
    );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
h6{
    color: rgb(110, 107, 107);
}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-image: var(--gradient);
    color: white;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    background-size: 300%;
    background-position: right;
    transition:background-position 1s;

}
button:hover{
    background-position: left;
}

hr{
    width: 30px;
    height: 2px;
    background-color: #ee7155;
}

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link{
     padding: 0 20px;
     color: #000;
     transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
{
    color: rgb(252, 116, 66);
}
.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;

}

/*mobile nav*/

.navbar-light, .navbar-toggler{
    border: none;
    outline: none;
}

#bar{
    font-size: 1.5rem;
    padding:  7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: rgb(0, 0, 0);
    
}

#bar:hover,
#bar.active{
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 991px){
    body >nav >div > button:hover,
    body>nav>div>button:focus{
         background-color:rgb(250, 116, 67) ;
    }

    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar{
        color:rgb(255, 255, 255) ;
    }
    #navbarSupportedContent > ul {
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
}


#home{
    background-image:url(../img/back.jpg) ;
    width: 100% ;
    height: 100vh ;
    background-size: cover;
    background-position: top 60px center ;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
#home span{
   color: rgb(255, 118, 68);
}
#brand{
    padding-top: 0px;
}

#new .one img{
  width: 100% ;
  height: 100% ;
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#new .one .details{
    position: absolute;
    width: 100%; 
    height:100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

#new .one:hover .details{

   cursor: pointer;
   background-color: rgb(245, 178, 178, 0.5) ;
   
   
}

#new .one .details button{
     display:inline-block;
     font-size: 14px;
     font-weight:500;
     color: #000;
     background:none;
     text-transform: uppercase;
     border-bottom: 1px solid black;
     padding: 2.5px;
     transform: translateY(70px);
     transition: 0.3s ease;

}
#new .one .details button:hover{
    color: rgb(252, 252, 252);
    border-bottom: 1px solid rgb(255, 255, 255);
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:flex-start;
    text-align:start;
}


#new .one:nth-child(2) .details{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:flex-end;
    text-align: end;
}



.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
     opacity: 0.7;
}

.product .buy-btn{
    background-color:#ee7155;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}
.star{
    padding: 10px 0;
}
.star i {
    font-size: 0.8rem ;
    color: rgb(240, 180, 27);
}
#banner{
    background-image:url(./img/banner/2.jpg) ;
    width: 100% ;
    height: 60vh ;
    background-size: cover;
    background-position: top 70px center ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h4{
    color: white;
}
#banner h1{
    color: white;
}
footer{
    background-color:black;
}

footer h5{
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: rgb(172, 172, 172);
}

footer p{
    color: rgb(209, 207, 207);
}

footer .copyright a{
    color:black;
    width: 38px;
    height: 38px;
    background-color:white;
    display: inline-block;
    text-align: center ;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;

}

footer .copyright a:hover {
    color: white;
    background-color:rgb(0, 81, 255);

}